<div class="columns">
  <div class="column is-12">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <h1 class="head">Resume onboarding</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-1">
          <mat-card>
          <mat-vertical-stepper [linear]="isLinear" #stepper>
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Fill out your name</ng-template>
                  
                      <h5 class="hiremusefont">Apply privately. No middlemen. Build your network and future team.</h5>
                      <mat-divider></mat-divider>
                      <br>
                      <div class="columns is-centered">
                        <div class="column is-5">
                          <mat-radio-group class="example-radio-group" >
                            <mat-radio-button class="example-radio-button" value="1">Yes, Actively looking</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="2">No, NOT actively</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                      <div class="columns is-mobile is-centered">
                        <div class="column is-5">
                          <button class="example-full-width" mat-raised-button color="primary">Save & continue</button>
                          <br><br>
                          <a mat-button class="example-full-width" [routerLink]="['/onboarding/profile']">Skip for now >></a>
                        </div>
                      </div>
                    
                  <div>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Fill out your address</ng-template>
                  <mat-form-field>
                    <input matInput placeholder="Address" formControlName="secondCtrl" required>
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                You are now done.
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
              </mat-step>
            </mat-vertical-stepper>
          </mat-card>
            
            
            
            
      </div>
    </div>
  </div>

</div>