mat-form-field {
    display: block;
}

textarea {
    min-height: 130px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
.content table td{
    border: 0px;
}