<!-- <div [ngSwitch]="state || null"> -->

<form [formGroup]="myForm" profileResumeForm path="resume/{{resumename}}" (stateChange)="changeHandler($event)">

    <div class="columns">
        <div class="column is-12">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <h1>MDA</h1>
                </div>
            </div>
            <div class="columns">
                <div class="column is-10 is-offset-1">

                    <div *ngIf="state === 'synced'" class="notification is-success">
                        Form is synced with Firestore
                    </div>

                    <div *ngIf="state === 'modified'" class="notification is-warning">
                        Form has unsaved changes
                    </div>
                    <!-- Getting an ERROR Error: ExpressionChangedAfterItHasBeenCheckedError -->
                    <!-- <div *ngIf="state === 'loading'" class="notification is-info">
                            Form data is preloading
                        </div> -->
                    <div *ngIf="state === 'error'" class="notification is-danger">
                        Form tried and failed to save to Firestore
                    </div>
                    <!-- </div> -->

                </div>
            </div>
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <mat-tab-group dynamicHeight>
                        <mat-tab label="Basics">
                            <div class="example-large-box mat-elevation-z4">
                                <div class="columns">
                                    <div class="column is-11">
                                        <table class="table is-fullwidth" style="background-color:rgb(245, 243, 243)">
                                            <tr>
                                                <td colspan="2" style="border-bottom-color:rgb(245, 243, 243);">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="border-bottom-color:rgb(245, 243, 243);">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Candidate Name" formControlName="name">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom-color:rgb(245, 243, 243);">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Location" formControlName="location">
                                                    </mat-form-field>
                                                </td>
                                                <td style="border-bottom-color:rgb(245, 243, 243);">
                                                    <mat-form-field>
                                                        <input matInput placeholder="email" formControlName="email">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="border-bottom-color:rgb(245, 243, 243);">
                                                    <mat-form-field>
                                                        <!-- <textarea matInput placeholder="Mini Resume" formControlName="miniresume"></textarea> -->
                                                        <textarea matInput #message maxlength="256" placeholder="Mini Resume"
                                                            formControlName="miniresume"></textarea>
                                                        <mat-hint align="start"><strong>Don't disclose personal info</strong>
                                                        </mat-hint>
                                                        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="border-bottom-color:rgb(245, 243, 243);">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Role" formControlName="role">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="border-bottom-color:rgb(245, 243, 243);">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="border-bottom-color:rgb(245, 243, 243);">
                                                    <mat-form-field>
                                                        <textarea matInput placeholder="your message..."
                                                            formControlName="message"></textarea>
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Talent Profile">
                            <div class="example-large-box mat-elevation-z4">
                                <div class="columns">
                                    <div class="column is-11">
                                        <table class="table is-fullwidth" style="background-color:rgb(245, 243, 243)">
                                            <tr>
                                                <td colspan="2" style="border-bottom-color:rgb(245, 243, 243);">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom-color:rgb(245, 243, 243); width: 20%;">
                                                    <label class="label">Search status</label>
                                                </td>
                                                <td style="border-bottom-color:rgb(245, 243, 243);">
                                                    <mat-form-field>
                                                        <mat-select placeholder="Job Search Status" [(value)]="selected"
                                                            formControlName="jobsearchstatus">
                                                            <mat-option value="Actively Interviewing">Actively
                                                                Interviewing</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom-color:rgb(245, 243, 243);">
                                                    <label class="label">Job Type</label>
                                                </td>
                                                <td style="border-bottom-color:rgb(245, 243, 243);">
                                                    <mat-form-field>
                                                        <mat-select placeholder="Job Type" multiple formControlName="jobtype">
                                                            <mat-option *ngFor="let job of typesOfJobs" [value]="job">{{job}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="border-bottom-color:rgb(245, 243, 243);">
                                                    <label class="label">Annual Salary</label>
                                                </td>
                                                <td style="border-bottom-color:rgb(245, 243, 243);">
                                                    <mat-form-field>
                                                        <input matInput formControlName="desiredannualsalary"
                                                            placeholder="Desired Annual Salary" type="number" class="example-right-align">
                                                        <span matPrefix>$&nbsp;</span>
                                                        <span matSuffix>.00</span>
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom-color:rgb(245, 243, 243);">
                                                    <label class="label">Annual Salary</label>
                                                </td>
                                                <td style="border-bottom-color:rgb(245, 243, 243);">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Desired Location" type="text"
                                                            formControlName="desiredlocation">
                                                    </mat-form-field>
                                                    <br>
                                                    <mat-checkbox formControlName="opentoworkremotely">Open to work
                                                            remotely</mat-checkbox>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="border-bottom-color:rgb(245, 243, 243);">
                                                    <label class="label">Work Authorization</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="border-bottom-color:rgb(245, 243, 243);">
                                                    <table>
                                                        <tr>
                                                            <td style="border-bottom-color:rgb(245, 243, 243); width: 50%;">
                                                                <h6>Are you legally authorized to work in the United
                                                                    States</h6>
                                                            </td>
                                                            <td style="border-bottom-color:rgb(245, 243, 243);">
                                                                <mat-radio-group formControlName="legallyauthorized">
                                                                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                                                                    <mat-radio-button value="No">No</mat-radio-button>
                                                                </mat-radio-group>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-bottom-color:rgb(245, 243, 243);">
                                                                <h6>Do you or will you require sponsorship for a US
                                                                    employment visa</h6>
                                                            </td>
                                                            <td style="border-bottom-color:rgb(245, 243, 243);">
                                                                <mat-radio-group formControlName="requiresponsorship">
                                                                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                                                                    <mat-radio-button value="No">No</mat-radio-button>
                                                                </mat-radio-group>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="border-bottom-color:rgb(245, 243, 243);">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom-color:rgb(245, 243, 243);"></td>
                                                <td style="border-bottom-color:rgb(245, 243, 243);"></td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom-color:rgb(245, 243, 243);"></td>
                                                <td style="border-bottom-color:rgb(245, 243, 243);"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Social">
                            <div class="example-large-box mat-elevation-z4">
                                <div class="columns">
                                    <div class="column is-11">
                                        <table class="table is-fullwidth" style="background-color:rgb(245, 243, 243)">
                                            <tr>
                                                <td style="border-bottom-color:rgb(245, 243, 243);">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom-color:rgb(245, 243, 243);">
                                                    <mat-form-field>
                                                        <input matInput placeholder="LinkedIn url" type="url"
                                                            formControlName="linkedinurl">
                                                        <span matPrefix>http://&nbsp;</span>
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom-color:rgb(245, 243, 243);">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Website url" formControlName="websiteurl">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom-color:rgb(245, 243, 243);">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Twitter url" formControlName="twitterurl">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom-color:rgb(245, 243, 243);">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Github url" formControlName="githuburl">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>


                    <div class="columns">
                        <div class="column is-12">&nbsp;</div>
                    </div>
                    <div class="columns">
                        <div class="column is-12">
                            <h5>Skills</h5>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-12">

                            <div class="columns">
                                <div class="column is-11">
                                    <table class="table is-fullwidth" formArrayName="skills" style="background-color:rgb(245, 243, 243)">
                                        <tr *ngIf="skillForms.controls == null">
                                            <td>
                                                <h3>No skills added</h3>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let skill of skillForms.controls; let i=index" [formGroupName]="i">
                                            <td style="border:0px; width: 650%;">
                                                <mat-form-field>
                                                    <mat-select placeholder="Choose skill" formControlName="skillname">
                                                        <mat-option value=".NET">.NET</mat-option>
                                                        <mat-option value="Python">Python</mat-option>
                                                        <mat-option value="Java">Java</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td style="border:0px; width: 40%;">
                                                <mat-form-field>
                                                    <mat-select placeholder="Choose skill level" formControlName="skilllevel">
                                                        <mat-option value="Expert">Expert</mat-option>
                                                        <mat-option value="Intermediate">Intermediate</mat-option>
                                                        <mat-option value="Beginner">Beginner</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td style="border:0px; width: 5%;">
                                                <button mat-button color="warn" (click)="deleteSkill(i)">
                                                    <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button mat-button (click)="addSkill()">
                                                    <mat-icon aria-label="Add skill">add_circle</mat-icon> Add skill
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="columns">
                        <div class="column is-12">&nbsp;</div>
                    </div>
                    <div class="columns">
                        <div class="column is-12">
                            <h5>Experience</h5>
                            <button mat-button (click)="openSnackBar('message.value', 'action.value')">Show snack-bar</button>
                            <button mat-button (click)="openDialog()">Open dialog</button>
                        </div>
                    </div>



                    <div class="columns">
                        <div class="column is-12">
                            <div class="columns">
                                <div class="column is-11">
                                    <table class="table is-fullwidth" style="background-color:rgb(245, 243, 243)">
                                        <tr>
                                            <td style="width:30%;">
                                                <mat-form-field>
                                                    <mat-select #AddType [(value)]="selected">
                                                        <mat-option value="Project">Add Project</mat-option>
                                                        <mat-option value="Title">Add Title</mat-option>
                                                        <mat-option value="Company Name">Add Company Name</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td style="width:70%;">
                                                <mat-form-field>
                                                    <input #ProjectName matInput placeholder="Project name" required>
                                                    <mat-error #materrorname></mat-error>
                                                    
                                                </mat-form-field>
                                                <label #tempError style="color:red;"></label>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    <br>
                                    <button mat-fab color="primary" [disabled]="ProjectName.invalid" (click)="addExperience(ProjectName, tempError)">
                                        <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="columns" formArrayName="experiences">
                        <div class="column is-12">
                            <div class="columns" *ngFor="let exp of experienceForms.controls; let i=index"
                                [formGroupName]="i">
                                <div class="column is-11">
                                    <table class="table is-fullwidth" style="background-color:rgb(245, 243, 243)">
                                        <tr>
                                            <td style="border:0px;" colspan="2">
                                                {{i+1}}
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Project" formControlName="project">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border:0px;" colspan="2">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Title" formControlName="title">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border:0px;">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Company" formControlName="company">
                                                </mat-form-field>
                                            </td>
                                            <td style="border:0px;">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Location" formControlName="location">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border:0px;">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker" formControlName="fromdate" placeholder="From" disabled>
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                                                </mat-form-field>
                                            </td>
                                            <td style="border:0px;">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="dp3" formControlName="todate" placeholder="To" disabled>
                                                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                                </mat-form-field>
                                                <mat-checkbox formControlName="currentlyemployed">Currently employed</mat-checkbox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border:0px;" colspan="2">
                                                <mat-form-field>
                                                    <textarea matInput placeholder="Project description"
                                                        formControlName="projectdescription"></textarea>
                                                </mat-form-field>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                <div>
                                    <button mat-fab color="warn" (click)="openDialog('experience', i)">
                                        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                                    </button>
                                    <br><br>
                                    <button mat-fab color="primary" (click)="openDialog('experience',-1)">
                                        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-12">
                            <button mat-raised-button color="primary" [disabled]="myForm.invalid || state !== 'modified'">
                                <mat-icon aria-label="Save resume">save</mat-icon> Save Resume
                            </button>
                            <a *ngIf="state === 'synced'" mat-button routerLink="."><i class="material-icons">check_circle_outline</i>
                                Resume saved.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr> Fireform state: {{ state }} <br>
        <hr>

        <button mat-raised-button color="primary" [disabled]="myForm.invalid || state !== 'modified'">Save</button>

        <div class="columns">
            <div class="column">
                <h3>Reactive Form Data</h3><br> {{ myForm.value | json }}
            </div>

            <div class="column">

                <h3>Firestore Data</h3><br> {{ myDoc | async | json }}
                <br>
                trial: {{ myDoc.bio | async | json }}
            </div>


        </div>

    </div>
</form>