.form {
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  #contentAddJob { 
    /* padding: 20px;
    width: 70%;
    margin: 10px;
    z-index: 3;
    display: inline-block; */
    /*width: 930px;*/
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 20px 20px 20px;
    margin-bottom: 20px;
    z-index: 3;
    position: relative;
  }
  .example-full-width {
    width: 100%;
  }
  
  .example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  align-items: right;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: right;
}