.example-small-box, .example-large-box {
    // display: flex;
    //align-items: left;
    // justify-content: left;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  //.example-small-box {
  //  width: 100%;
  //}
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }